body {
    font-family: Arial, sans-serif;
    max-width: 1000px;
    margin: 40px auto;
    padding: 0 20px;
}

h1 {
    font-size: 32px;
    margin-bottom: 10px;
}

h2 {
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 10px;
}

p {
    line-height: 1.6px;
}

#chart {
    margin-top: 1px;
}